body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
}

h2,
h3 {
  color: #2e2f42;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* header */

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo .accent-dark {
  color: #2e2f42;
}

.link {
  font-weight: 500;
  color: #2e2f42;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* hero-section */

.hero-section {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 4%;
  cursor: pointer;
}

.button:hover {
  background-color: #404bbf;
}

/* advantages-section */

/* team-section */

.team-section {
  background-color: #f4f4fd;
}

/* portfolio-section */

/* footer */
.footer {
  background-color: #2e2f42;
}

.logo .accent-light {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
