body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

h2,
h3 {
  color: #2e2f42;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: currentColor;
  /* font-style: normal; */
}

ul {
  list-style-type: none;
}

/* header */

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo .accent-dark {
  color: #2e2f42;
}

.address {
  font-style: normal;
}

.link {
  font-weight: 500;
  color: #2e2f42;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* hero-section */

.hero-section {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* advantages-section */

.advantage-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* team-section */

.team-section {
  background-color: #f4f4fd;
}

.team-title {
  letter-spacing: 0.02em;
}

.team-card {
  background-color: #ffffff;
}

.team-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* portfolio-section */
.portfolio-title {
  letter-spacing: 0.02em;
}

.portfolio-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* footer */
.footer {
  background-color: #2e2f42;
}

.logo .accent-light {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
